<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878479475232-3t2a0cn2kr6gfpc5g69o5509qjbeba4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878479475232-3t2a0cn2kr6gfpc5g69o5509qjbeba4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878479475232-fc3ss6jqss44ge7uqljr4spqiloubfi6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD13DRZZYuaYWP5NRuWB9ABWrj8v9QZw-4</string>
	<key>GCM_SENDER_ID</key>
	<string>878479475232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Broz</string>
	<key>PROJECT_ID</key>
	<string>broz-244206</string>
	<key>STORAGE_BUCKET</key>
	<string>broz-244206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878479475232:ios:f27f888bd5f510d5</string>
	<key>DATABASE_URL</key>
	<string>https://broz-244206.firebaseio.com</string>
</dict>
</plist>